<div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
  <div class="m-3">
    <h1 class="text-secondary">URL Shortener</h1>
  </div>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    class="img-fluid m-3 mb-5" alt="Responsive image" style="max-width: 30%; max-height: 30%;">
  <div class="m-3 d-flex flex-column align-items-center">
    <h5 class="text-secondary">Success! Please use the following link:</h5>
    <a class="d-block mb-3" href="{{shortenedLink}}">{{shortenedLink}}</a>
    <a href="/" class="d-block btn btn-outline-secondary" role="button" aria-pressed="true">Back ✿</a>
  </div>
</div>